.size-12 {
    font-size: 12px!important;
}
.size-14 {
    font-size: 14px!important;
}
.size-16 {
    font-size: 16px!important;
}
.size-18 {
    font-size: 18px!important;
}
.size-21 {
    font-size: 21px!important;
}
.size-24 {
    font-size: 24px!important;
}
.size-32 {
    font-size: 32px!important;
}
.size-48 {
    font-size: 48px!important;
}
.size-64 {
    font-size: 64px!important;
}
.size-96 {
    font-size: 96px!important;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.crosses .row a {
    text-decoration: none;
    color: inherit;
}
.popup {
    width: auto;
    max-width: 90%;
}
.bar-header .title {
    padding: 5px 0px!important
}
.bar-header .dropdown {
    height: 100%;
}
.bar-header .beta {
    display: inline-block !important;
    line-height: 34px!important;
}