node_modules
dist
.tmp
.sass-cache
bower_components
app/data/.Rapp.history
platforms/**/
app/data/candles/**
!app/data/candles/.empty
**/*/.Rapp.history
.Rapp.history
app/data/breakout/*.*
app/data/candles/*.*
app/data/cot/*.*
app/data/calendar*.csv
www/data/breakout/*.*
www/data/candles/*.*
www/data/cot/*.*
www/data/calendar*.csv
