app/data/R.log
Untitled*.*
node_modules
dist
.tmp
.sass-cache
bower_components
app/data/.Rapp.history
platforms/**/
app/data/candles/**
**/*/.Rapp.history
.Rapp.history
app/data/breakout/*.*
app/data/candles/*.*
app/data/cot/*.*
app/data/calendar*.csv
app/data/volatility.csv
app/data/portfolio.csv
app/data/signal.csv
app/data/force*.csv
app/data/multisets*.csv
app/data/quandl/*.csv
www/data/breakout/*.*
www/data/candles/*.*
www/data/cot/*.*
www/data/quandl/*.csv
www/data/*.csv
!app/data/candles/.empty
!app/data/cot/.empty
server/socket
!www/config.xml
!www/res
annual.txt
www/data/R.log
.httr-oauth
