<div class="card">
    <div class="item item-divider">
        <span class="maroon pull-left">Events</span>
        <div class="pull-right">
            <button ng-class="{'button-calm':optShowCalendar,'button-dark':!optShowCalendar}" ng-click="optShowCalendar = !optShowCalendar" type="button" class="button button-small"><i class="icon ion-calendar"></i> Full Calendar</button>
        </div>
    </div>
    <div class="item item-text-wrap">
        <div ng-if="nextEvents" ng-init="nxtEventTime = nextEvents[0].timestamp" class="row">
            <div class="col">
                <b><i class="icon ion-clock"></i> Next event in</b>
                <timer class="maroon" end-time="nxtEventTime" max-time-unit="'hour'">
                {{hhours}} hour{{hoursS}}, {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}.
                </timer>
            </div>
        </div>
        <div>
            <span class="energized" ng-if="!selected.events || selected.events.length == 0">No relevant events found</span>
            <div class="row row-top" ng-if="!(!selected.events || selected.events.length == 0)">
                <div class="col">
                    <table class="table" ng-table="tblEvents">
                        <tr ng-repeat="event in selected.events | filter:isCurrencyEvent" ng-if="optShowCalendar || (nextEvents[0] && event.timestamp == nextEvents[0].timestamp && event.Code == nextEvents[0].Code)">
                            <td data-title="'Date'">{{event.localDate | date:'short'}}</td>
                            <td data-title="'Currency'">{{event.currency | uppercase}}</td>
                            <td data-title="'Title'">{{event.event}}</td>
                            <td data-title="'Importance'" ng-class="{'red':event.importance == 'High','orange':event.importance == 'Medium','teal':event.importance == 'Low'}">{{event.importance}}</td>
                            <td data-title="'Actual'">{{event.actual}}</td>
                            <td data-title="'Forecast'">{{event.forecast}}</td>
                            <td data-title="'Previous'">{{event.previous}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>