<div class="card" ng-show="selected.currencyForce">
    <div class="item item-divider">
        <span class="maroon pull-left">Currency Force</span>
    </div>
    <div class="item item-text-wrap">
        <p>Propietary algorithm which measures a currency's strength achieved during the last 30 days. The calculation traverses the different time periods (minute, hourly and daily) and provides a snap-shot of current status in the market.</p>
        <highchart config="optsHighchartsCurrencyForce"></highchart>
    </div>
</div>