0 * * * 0,1,2,3,4,5 cd /Users/macbook/workspace/nico/aifx && ./server/scripts/cron.sh >/dev/null 2>&1
5 * * * 0,1,2,3,4,5 cd /Users/macbook/workspace/nico/aifx && curl -G http://0.0.0.0:9999/api/candles/volatility/1 >/dev/null 2>&1
10-59/15 * * * 0,1,2,3,4,5 cd /Users/macbook/workspace/nico/aifx && curl -G http://0.0.0.0:9999/api/candles/all/M15 >/dev/null 2>&1
15 * * * 0,1,2,3,4,5 cd /Users/macbook/workspace/nico/aifx && curl -G http://0.0.0.0:9999/api/candles/all/H1 && curl -G http://0.0.0.0:9999/api/currencyForce/1 && curl -G http://0.0.0.0:9999/api/calendar/strength/52/1 >/dev/null 2>&1
20 */4 * * 0,1,2,3,4,5 cd /Users/macbook/workspace/nico/aifx && curl -G http://0.0.0.0:9999/api/candles/all/H4 >/dev/null 2>&1
25 0 * * 0,1,2,3,4,5 cd /Users/macbook/workspace/nico/aifx && curl -G http://0.0.0.0:9999/api/candles/all/D >/dev/null 2>&1
7-59/11 * * * 0,1,2,3,4,5 cd /Users/macbook/workspace/nico/aifx && grunt copy:data >/dev/null 2>&1
0 0 * * 6 cd /Users/macbook/workspace/nico/aifx && Rscript server/scripts/cftc.r >/dev/null 2>&1
5 0 * * 6 cd /Users/macbook/workspace/nico/aifx && Rscript server/scripts/positioning.r 0 0 0 1 >/dev/null 2>&1
