<ion-view title="{{config.appName}}" hide-back-button="true">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content has-header="true" padding="true">
<div class="card">
    <div class="item item-divider">
        What is Cella.in FX?
    </div>
    <div class="item item-text-wrap">
        <p>It is the result of endless hours of joy and work, spent in order to make one thing happen: build a tool that will relief a trader from wasting valuable time. It is also a modern solution, which integrates Quantitative Financial concepts into the modern trader arena.
        </p>
        <p>
        Big players are using Quantitative Trading methodologies, and you still don't have a clue of what it is or you still don't have the right tools which can help you join the wave. So, let this software be the perfect compliment for your daily/regular term trading activity and you will note how your performance will grow exponentially.
        </p>
        <p>As stated previously, this software doesn't act as the <u>magic wand</u>, neither it's promising a <u>perfect profit</u> scheme: this is just the <b>swiss army knife</b> for the modern trader. You will be able to understand what the market is telling, at the right moment, with the minimal amount of information; minimal but not less important. It is up to you if you want to trade or not.</p>
    </div>
    <div class="item item-divider">
        Share your thoughts with me, <a href="mailto:nico@webpolis.com.ar">nico@webpolis.com.ar</a>
    </div>
</div>
</ion-content>
</ion-view>