<ion-view title="{{config.logoSmall}}" hide-back-button="true">
<ion-nav-buttons side="left">
<ng-include src="'views/elements/headerLeft.html'"></ng-include>
</ion-nav-buttons>
<ion-content overflow-scroll="true" has-header="true" padding="true">
<div class="card">
    <div class="item item-divider">
        What is {{ config.appName }}?
    </div>
    <div class="item item-text-wrap">
        <p>This software implements theories coming from the field of Quantitative Finance to empower the analysis.</p>
        <div class="card bg-teal">
            <div class="item item-text-wrap">
                Quantitative Finance
            </div>
        </div>
        <p>Statistical, historical regression and automated insight analysis is made in order to provide you with an accurate approach, plus a better detail on what’s happening on the markets.<p>
        <p>Candlesticks analysis is one of the many ways to catch up the next move, but it will not help you if you don’t understand what economic events are telling, or where the trend is going. So, this advisor, tool, software (or however you want to call it) will show you a snapshot from both scenarios: candlesticks patterns and trends are lively detected while our custom “event calendar” algorithm will confirm the move, by scoring each currency according to most recent economic events’ results.<p>
        <p>¿Is it a new signal provider? No, it’s not, by far. As a trader and software developer, I do not believe in signals: I believe in knowledge. This package combines mathematics and quantitative trading methodologies in order to fulfill every trader’s goal: profit. It also offers an excellent opportunity to learn about trading in a live, profitable and friendly environment.<p>
        <p>If you don’t know where to start, then let qfx.club's engine choose the right portfolio for you: by applying Nobel’s Price Markowitz studies and other bunch of outstanding algorithms onto the whole set, you will know whether to short or long a currency in your preferred portfolio when using this modern software package. The market has a sense, and this application will describe it to you.<p>
        <div class="card bg-aqua">
            <div class="item item-text-wrap">
                <ul>
                    <li>Automated breakout area detection</li>
                    <li>Modern theory of quantitative analysis applied to ease your trading decisions</li>
                    <li>Propietary estimator for currency strength based on recent economic events</li>
                    <li>Easy, intuitive, graphical information at your disposal</li>
                    <li>Trend detection</li>
                    <li>Candlestick patterns detected and explained</li>
                    <li>Provides buy/sell signals based on well known strategies</li>
                    <li>Pairs correlations summary, to empower your trading strategy (Commodities included)</li>
                    <li>Covering major crosses in the Foreign Exchange market (FOREX)</li>
                    <li>Efficient Frontier theory applied to properly manage your portfolio</li>
                    <li>And more incredible stuff, current and being developed…</li>
                </ul>
            </div>
        </div>
        <p>More features will be added in the upcoming future, so stay tuned and join right now the community of modern currency traders.<p>
    </div>
    </ion-content>
    </ion-view>