<ion-view title="{{config.logoSmall}}" hide-back-button="true">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content overflow-scroll="true" has-header="true" padding="true" ng-init="start(false, true)">
<h4><i class="icon ion-ios7-world"></i> Cross
<span ng-if="(selected.cross1 && selected.cross2)" class="positive">{{selected.cross1}}/{{selected.cross2}}</span>
</h4>
<div class="card">
    <div class="item item-divider">
        <span class="maroon pull-left">Price Action</span>
        <div class="button-bar">
            <a class="button" ng-class="{'button-balanced':optChartPeriod.label == 'Intraday'}" ng-click="optChartPeriod = optsChartPeriods[0]; chart(optChartPeriod)">Intraday</a>
            <a class="button" ng-class="{'button-balanced':optChartPeriod.label == 'Week'}" ng-click="optChartPeriod = optsChartPeriods[1]; chart(optChartPeriod)">Week</a>
            <a class="button" ng-class="{'button-balanced':optChartPeriod.label == 'Month'}" ng-click="optChartPeriod = optsChartPeriods[2]; chart(optChartPeriod)">Month</a>
            <a class="button" ng-class="{'button-balanced':optChartPeriod.label == 'Year'}" ng-click="optChartPeriod = optsChartPeriods[3]; chart(optChartPeriod)">Year</a>
        </div>
    </div>
    <div class="item item-text-wrap">
        <highchart config="optsHighchartsCross" id="chartCross"></highchart>
    </div>
    <div ng-if="optsHighchartsCross.series[0].data && optsHighchartsCross.series[0].data.length > 0" class="item item-text-wrap">
        <h2>Automated Breakouts Detector</h2>
        <p>These are regions where interesting action could happen. The lighter grey areas offer good opportunities, when their top or bottom lines are crossed, meaning the trend will continue or do the opposite, depending on the direction of the breakout.</p>
        <p>If the picture shows a lot of grey areas, whether dark or light, it means the price is trending or there is a lot of volatility.</p>
        <img ng-init="r = getRandom()" style="max-width:100%;height:100%" ng-src="data/breakout/{{ selected.cross1 + '_' + selected.cross2 + '-' + selected.granularity }}.jpg?r={{ r }}" />
    </div>
</div>
</ion-content>
</ion-view>