<ion-view title="{{config.logoSmall}}" hide-back-button="true">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content has-header="true" padding="true" ng-init="start(false, true)">
<h4><i class="icon ion-ios7-world"></i> Cross
<span ng-if="(selected.cross1 && selected.cross2)" class="positive">{{selected.cross1}}/{{selected.cross2}}</span>
</h4>
<div class="card">
    <div class="item item-divider">
        <span class="maroon pull-left">Trend Analysis <small>(last # period)</small></span>
        <div class="button-bar">
            <a class="button" ng-class="{'button-balanced':optChartPeriod.label == 'Intraday'}" ng-click="optChartPeriod = optsChartPeriods[0]; chart(optChartPeriod)">Intraday</a>
            <a class="button" ng-class="{'button-balanced':optChartPeriod.label == 'Week'}" ng-click="optChartPeriod = optsChartPeriods[1]; chart(optChartPeriod)">Week</a>
            <a class="button" ng-class="{'button-balanced':optChartPeriod.label == 'Month'}" ng-click="optChartPeriod = optsChartPeriods[2]; chart(optChartPeriod)">Month</a>
            <a class="button" ng-class="{'button-balanced':optChartPeriod.label == 'Year'}" ng-click="optChartPeriod = optsChartPeriods[3]; chart(optChartPeriod)">Year</a>
        </div>
    </div>
    <div class="item item-text-wrap">
        <highchart config="optsHighchartsCross" id="chartCross"></highchart>
    </div>
</div>
</ion-content>
</ion-view>