<ion-view title="FXPAL" hide-back-button="true">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content has-header="true" padding="true">
<h4><i class="icon ion-ios7-world"></i> Cross
<span ng-if="(selected.cross1 && selected.cross2)" class="positive">{{selected.cross1.currCode}}/{{selected.cross2.currCode}}</span>
</h4>
<div class="row" ng-init="start()">
    <div class="col col-50">
        <div class="card">
            <div class="item item-divider">
                <span class="maroon">Correlated items</span>
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item size-12" ng-repeat="corr in selected.correlation">
                        <span ng-class="{'green':corr.rel>0,'red':corr.rel<0}">
                        <i class="icon" ng-class="{'ion-plus-round':corr.rel>0,'ion-minus-round':corr.rel<0}"></i> {{corr.cross1 || corr.cross2}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>