<ion-view title="FXPAL" hide-back-button="true">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content has-header="true" padding="true" ng-init="start()">
<h4><i class="icon ion-ios7-world"></i> Cross
<span ng-if="(selected.cross1 && selected.cross2)" class="positive">{{selected.cross1.currCode}}/{{selected.cross2.currCode}}</span>
</h4>
<div class="card">
    <div class="item item-divider">
        <span class="maroon pull-left">Correlations</span>
    </div>
    <div class="item item-text-wrap">
        <span class="energized" ng-if="!selected.correlation || selected.correlation.length == 0">No relevant items found</span>
        <div class="row row-top" ng-if="!(!selected.correlation || selected.correlation.length == 0)">
            <div class="col">
                <span class="gray size-13">Market / Index</span>
            </div>
            <div class="col">
                <span class="gray size-13">Daily change</span>
            </div>
            <div class="col">
                <span class="gray size-13">Weekly change</span>
            </div>
        </div>
        <div class="row" ng-repeat="corr in selected.correlation">
            <div class="col">
                <span class="size-12" ng-class="{'green':corr.rel>0,'red':corr.rel<0}">
                <i class="icon" ng-class="{'ion-plus-round':corr.rel>0,'ion-minus-round':corr.rel<0}"></i> {{corr.label}}
                </span>
            </div>
            <div class="col">
                <i class="icon size-16" ng-class="{'ion-android-arrow-up-right green':corr.dailyChange>0,'ion-android-arrow-down-right red':corr.dailyChange<0,'ion-android-remove':corr.dailyChange==0}"></i>
            </div>
            <div class="col">
                <i class="icon size-16" ng-class="{'ion-android-arrow-up-right green':corr.weeklyChange>0,'ion-android-arrow-down-right red':corr.weeklyChange<0,'ion-android-remove':corr.weeklyChange==0}"></i>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="item item-divider">
        <span class="maroon pull-left">Events</span>
    </div>
    <div class="item item-text-wrap">
        <span class="energized" ng-if="!selected.events || selected.events.length == 0">No relevant events found</span>
        <div class="row row-top" ng-if="!(!selected.events || selected.events.length == 0)">
            <div class="col">
                <table class="table" ng-table="tblEvents">
                    <tr ng-repeat="event in selected.events">
                        <td data-title="'Date'">{{event.localDate | date:'short'}}</td>
                        <td data-title="'Currency'">{{event.currency | uppercase}}</td>
                        <td data-title="'Title'">{{event.event}}</td>
                        <td data-title="'Importance'" ng-class="{'red':event.importance == 'High','orange':event.importance == 'Medium','teal':event.importance == 'Low'}">{{event.importance}}</td>
                        <td data-title="'Actual'">{{event.actual}}</td>
                        <td data-title="'Forecast'">{{event.forecast}}</td>
                        <td data-title="'Previous'">{{event.previous}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</ion-content>
</ion-view>