<ion-view title="{{config.logoSmall}}" hide-back-button="true">
<ion-nav-buttons side="left">
<ng-include src="'views/elements/headerLeft.html'"></ng-include>
</ion-nav-buttons>
<ion-content overflow-scroll="true" has-header="true" padding="true" ng-init="start()">
<div class="row">
    <div class="col">
        <h4><i class="icon ion-ios7-world"></i> Cross
        <span ng-if="(selected.cross1 && selected.cross2)" class="positive">{{selected.cross1}}/{{selected.cross2}}</span>
        </h4>
    </div>
    <div class="col col-75" ng-if="(selected.cross1 && selected.cross2)" ng-init="curr = {label: selected.cross1+selected.cross2}">
        <div class="row">
            <div class="col">
                <span class="gray">Daily:</span> <i class="icon size-16" ng-class="{'ion-android-arrow-up-right green':data.marketChange[curr.label].daily>0,'ion-android-arrow-down-right red':data.marketChange[curr.label].daily<0,'ion-android-remove':data.marketChange[curr.label].daily==0}"></i>
            </div>
            <div class="col">
                <span class="gray">Weekly:</span> <i class="icon size-16" ng-class="{'ion-android-arrow-up-right green':data.marketChange[curr.label].weekly>0,'ion-android-arrow-down-right red':data.marketChange[curr.label].weekly<0,'ion-android-remove':data.marketChange[curr.label].weekly==0}"></i>
            </div>
            <div class="col">
                <span class="gray">Monthly:</span> <i class="icon size-16" ng-class="{'ion-android-arrow-up-right green':data.marketChange[curr.label].monthly>0,'ion-android-arrow-down-right red':data.marketChange[curr.label].monthly<0,'ion-android-remove':data.marketChange[curr.label].monthly==0}"></i>
            </div>
        </div>
    </div>
</div>
<div class="button-bar">
    <a href="" class="button" ng-click="stats = 'markets'">
    <i class="icon ion-link green size-32"></i>
    Related Markets
    </a>
    <a href="" class="button" ng-click="stats = 'events'">
    <i class="icon ion-clock blue size-32"></i>
    Events
    </a>
    <a href="" class="button" ng-click="stats = 'positioning'">
    <i class="icon ion-lightbulb orange size-32"></i>
    Speculative Positioning
    </a>
</div>
<div ng-include="'views/elements/'+stats+'.html'"></div>
</ion-content>
</ion-view>