<ion-view title="{{config.logoSmall}}" hide-back-button="true">
<ion-nav-buttons side="left" ng-click="stats = 'force'">
<ng-include src="'views/elements/headerLeft.html'"></ng-include>
</ion-nav-buttons>
<ion-content overflow-scroll="true" has-header="true" padding="true" ng-init="selected.correlation.markets = null; selected.correlation.events = null; selected.events = null;computeVolatility();computeStrength();computeCurrencyForce()">
<div class="button-bar">
    <a href="" class="button" ng-click="stats = 'force'">
    <i class="icon ion-battery-half green size-32"></i>
    Currency Force
    </a>
    <a href="" class="button" ng-click="stats = 'volatility'">
    <i class="icon ion-flash blue size-32"></i>
    Active Crosses
    </a>
    <a href="" class="button" ng-click="stats = 'cot'">
    <i class="icon ion-arrow-swap orange size-32"></i>
    Commitment of Traders
    </a>
    <a href="" class="button" ng-click="stats = 'economic'">
    <i class="icon ion-calendar purple size-32"></i>
    Fundamental Strength
    </a>
</div>
<div ng-include="'views/elements/'+stats+'.html'"></div>
</ion-content>
</ion-view>