<div class="list card">
    <div class="item item-divider">
        {{selected.flag.x | date:'medium'}}
    </div>
    <span ng-repeat="pattern in selected.flag.patterns">
    <div class="item item-avatar">
        <img ng-src="images/patterns/{{pattern.Image}}">
        <h2>{{pattern.Name}}</h2>
        <p ng-if="pattern.Direction == 0 || pattern.Direction == 1">
        Direction: <i class="icon" ng-class="{'ion-arrow-down-a red':pattern.Direction == 0,'ion-arrow-up-a green':pattern.Direction == 1}"></i>
        </p>
    </div>
    <div class="item item-text-wrap">
        {{pattern.Description}}
    </div>
    </span>
</div>