<ion-view title="{{config.logoSmall}}" hide-back-button="true">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content overflow-scroll="true" has-header="true" padding="true" ng-init="start()">
<h4><i class="icon ion-briefcase"></i> Portfolio
</h4>
<div class="card">
    <div class="item item-divider">
        <span class="maroon pull-left">Recommended Distribution</span>
    </div>
    <div class="item item-text-wrap">
        <p>This is the result of applying multiple Portfolio Optimization algorithms after doing statistical analysis through historical and recent prices, plus the application of the results from studies by Nobel's Price Henry Markowitz. The <b>risk/return</b> ratio across all crosses in this portfolio is balanced in order to ensure profit and is calculated daily so it reflects recent market behavior.</p>
        <p>The graphic can be read like: columns above <b>0</b> are the recommended <i class="blue">long</i> positions, while the columns that are positioned below <b>-0</b>, are the <i class="fuchsia">short</i> positions. However, it is not recommended to choose a side literally: the graphic tries to tell you which pairs are more challenging and will probably give you better results if you combine them properly.</p>
        <highchart ng-if="selected.portfolio" config="optsHighchartsPortfolio"></highchart>
    </div>
</div>
</ion-content>
</ion-view>